html{
  box-sizing: border-box;
}

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.navBar {
  position: fixed;
  top: 0; 
  width: 100%;
  z-index: 9999;
  height: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  overflow: hidden;
  background-color: white;
  border-bottom: 1px solid grey;
}

.navBar a:hover {
  font-weight: bold;
}

.brand {
  font-size: 40px; 
}

.brand:hover{
  color: orange;
 }

.navRight {
  display: inline-flex;
}

.navRight a {
  margin-inline: 1rem;
}

.navRight div:hover {
  cursor: pointer;
}

.heroSection {
  padding-inline: 2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.subScribeSection {
  height: 40vh;
  padding: 30px;
  margin-inline: 2rem;
  background-color: grey;
  color: white;
}

.latestArticlesSection {
  padding-inline: 2rem;
}

.otherArticlesSection {
  margin-inline: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.otherArticlesSection div {
  height: 70vh;
  overflow: hidden;
  padding: 10px;
}

button{
  cursor: pointer;
}